<!DOCTYPE html>
<html>
  <head>
    <title>PinTravel</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="shortcut icon" type="image/png" href="/favicon.ico"/>
    <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyAPjYkDq0-iiCd6W5-qCw46J-r0EW39L1U' %>
    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>   
    <script type="text/javascript">
      window.logo = "<%= image_url('logo.png') %>";
      window.userProfile = "<%= image_url('guest.jpg') %>";
      window.pin1 = "<%= image_url('pins/1.jpg') %>";
      window.pin2 = "<%= image_url('pins/2.jpg') %>";
      window.pin3 = "<%= image_url('pins/3.jpg') %>";
      window.pin4 = "<%= image_url('pins/4.jpg') %>";
      window.pin5 = "<%= image_url('pins/5.jpg') %>";
      window.pin6 = "<%= image_url('pins/6.jpg') %>";
    </script>
 
  </head>

  <body>
    <%= yield %>
  </body>
</html>
