<!DOCTYPE html>
<html>
  <head>
    <title>PinTravel</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyAPjYkDq0-iiCd6W5-qCw46J-r0EW39L1U' %>
    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>   
    <script type="text/javascript">
      window.logo = "<%= image_url('logo.png') %>";
      window.logoTitle = "<%= image_url('logo_title.png') %>";
      window.userProfile = {};
      window.userProfile['guest'] = "<%= image_url('guest.jpg') %>";      
      window.userProfile['mariko'] = "<%= image_url('mariko.jpg') %>";      
      window.userProfile['james'] = "<%= image_url('james.jpg') %>";      
      
    </script>
 
  </head>

  <body>
    <%= yield %>
  </body>
</html>
