<!DOCTYPE html>
<html>
  <head>
    <title>PinTravel</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="shortcut icon" type="image/png" href="/favicon.ico"/>
    <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyAPjYkDq0-iiCd6W5-qCw46J-r0EW39L1U' %>
    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>   
    <script type="text/javascript">
      window.logo = "<%= image_url('logo.png') %>";
      window.userProfile = "<%= image_url('guest.jpg') %>";

      window.pins = [];
      
      window.pins.push("<%= image_url('pins/1.jpg') %>");
      window.pins.push("<%= image_url('pins/2.jpg') %>");
      window.pins.push("<%= image_url('pins/3.jpg') %>");
      window.pins.push("<%= image_url('pins/4.jpg') %>");
      window.pins.push("<%= image_url('pins/5.jpg') %>");
      window.pins.push("<%= image_url('pins/6.jpg') %>");
      window.pins.push("<%= image_url('pins/7.jpg') %>");
      window.pins.push("<%= image_url('pins/8.jpg') %>");
      window.pins.push("<%= image_url('pins/9.jpg') %>");
      window.pins.push("<%= image_url('pins/10.jpg') %>");
      window.pins.push("<%= image_url('pins/11.jpg') %>");
      window.pins.push("<%= image_url('pins/12.jpg') %>");
      window.pins.push("<%= image_url('pins/13.jpg') %>");
      window.pins.push("<%= image_url('pins/14.jpg') %>");
      window.pins.push("<%= image_url('pins/15.jpg') %>");
      window.pins.push("<%= image_url('pins/16.jpg') %>");
      window.pins.push("<%= image_url('pins/17.jpg') %>");
      window.pins.push("<%= image_url('pins/18.jpg') %>");
      window.pins.push("<%= image_url('pins/19.jpg') %>");
      window.pins.push("<%= image_url('pins/20.jpg') %>");
      window.pins.push("<%= image_url('pins/21.jpg') %>");
      window.pins.push("<%= image_url('pins/22.jpg') %>");
      window.pins.push("<%= image_url('pins/23.jpg') %>");
      window.pins.push("<%= image_url('pins/24.jpg') %>");
      window.pins.push("<%= image_url('pins/25.jpg') %>");
      
    </script>
 
  </head>

  <body>
    <%= yield %>
  </body>
</html>
