<!DOCTYPE html>
<html>
  <head>
    <title>PinTravel</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="shortcut icon" type="image/png" href="/favicon.ico"/>
    <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyAPjYkDq0-iiCd6W5-qCw46J-r0EW39L1U' %>
    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
